/*primeira grade*/

.corpo-acao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 95vh;


  }

  .sec-corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
    margin: 0;
    border-radius: 20px;
    width: 96%;
    height: 470px;
  }



  .acao-txt{
    font-family: 'Roboto', sans-serif;

    width: 120%;
    height: 90%;
    color: azure;
    margin: 0px;
    margin-left: 1%;
    margin-top: -7%;

  }

  .acao-txt h1{
    font-size: 45px;
  }

  .acao-txt p{
    text-align: justify;
  }


  .acao-img{
    display: flex;
    justify-content: center;
    background-size:cover;
    margin-left: 20px;
    width: 35%;
    height: 470px;

    /*DEIXAR A FOTO COM EFEITO TRANSPARENTE*/

    mask-image: linear-gradient(to right, transparent 25%, black 20%);
  }

  .acao-img img{
    border-radius: 20px;
  }

  /* RANKIG 4*/


.corpo-acao2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 25vh;

}

.acao-img2{
  display: flex;
  justify-content: center;
  background-size:cover;
  margin-left: 280px;
  width: 35%;
  height: 470px;

  /*DEIXAR A FOTO COM EFEITO TRANSPARENTE*/

  mask-image: linear-gradient(to right, transparent 25%, black 20%);
}

.img2{
  border-radius: 20px;
}

/*RANKIG 3*/

.corpo-acao3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 95vh;

}

/*RANKIG 2*/

.corpo-acao4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 25vh;

}

.corpo-acao5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

}

/* RESPONSIVIDADE */

/* RESONSIVIDADE PARA DISPOSITIVOS MOVEIS body - largura 360px X 450px */



/* RESONSIVIDADE PARA DISPOSITIVOS MOVEIS body - largura 760px X 820px */


/* RESONSIVIDADE PARA DISPOSITIVOS MOVEIS body - largura 360px X 450px */

@media (min-width: 360px) and (max-width: 450px){
/*BASE GRADE DE JOGOS DE AÇÃO*/
.body-acao{
  background: #111111;
}

/*primeira grade*/

.corpo-acao{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  min-height: 95vh;
  margin-top: -30%;

}

.sec-corpo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  margin: 0;
  border-radius: 20px;
  width: 95%;
  height: 320px;
}



.acao-txt{
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  width: 120%;
  height: 90%;
  color: azure;
  margin: 30px;
  margin-top: -3%;
  margin-left: 2px;

}

.acao-txt h1{
  font-size: 13px;
}
.acao-txt h3{
  font-size: 11px;
}
.acao-txt p{
  font-size: 7.5px;
  text-align: justify;
}


.acao-img{
  display: flex;
  justify-content: center;
  background-size:cover;
  margin-left: 70px;
  width: 10%;
  height: 320px;

  /*DEIXAR A FOTO COM EFEITO TRANSPARENTE*/

  mask-image: linear-gradient(to right, transparent 25%, black 20%);
}

.acao-img img{
  border-radius: 20px;
}

/* RANKIG 4*/


.corpo-acao2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 25vh;
  margin-top: -30%;

}

.acao-img2{
  display: flex;
  justify-content: center;
  background-size:cover;
  margin-left: 10%;
  width: 35%;
  height: 320px;

  /*DEIXAR A FOTO COM EFEITO TRANSPARENTE*/

  mask-image: linear-gradient(to right, transparent 25%, black 20%);
}

.img2{
  border-radius: 20px;
}

/*RANKIG 3*/

.corpo-acao3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 95vh;
  margin-top: -30%;

}

/*RANKIG 2*/

.corpo-acao4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 25vh;
  margin-top: -30%;

}

.corpo-acao5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 100vh;
  margin-top: -30%;

}
}

/* RESONSIVIDADE PARA DISPOSITIVOS MOVEIS body - largura 760px X 820px */

@media (min-width: 760px) and (max-width: 820px){
  /*BASE GRADE DE JOGOS DE AÇÃO*/
.body-acao{
  background: #111111;
}

/*primeira grade*/

.corpo-acao{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95.5%;
  height: 30%;
  /* min-height: 95vh; */
  margin-top: -30%;


}

.sec-corpo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #171717;
  margin: 0;
  border-radius: 20px;
  width: 96%;
  height: 470px;
}



.acao-txt{
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  width: 120%;
  height: 90%;
  color: azure;
  margin: 30px;
  margin-top: -6%;

}

.acao-txt h1{
  font-size: 35px;
}

.acao-txt p{
  font-size: 14px;
  text-align: justify;
}


.acao-img{
  display: flex;
  justify-content: center;
  background-size:cover;
  margin-left: 20px;
  width: 35%;
  height: 470px;

  /*DEIXAR A FOTO COM EFEITO TRANSPARENTE*/

  mask-image: linear-gradient(to right, transparent 25%, black 20%);
}

.acao-img img{
  border-radius: 20px;
}

/* RANKIG 4*/


.corpo-acao2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  min-height: 25vh;
  margin-top: -30%;


}


.acao-img2{
  display: flex;
  justify-content: center;
  background-size:cover;
  margin-left: 10%;
  width: 35%;
  height: 470px;



  /*DEIXAR A FOTO COM EFEITO TRANSPARENTE*/

  mask-image: linear-gradient(to right, transparent 25%, black 20%);
}

.img2{
  border-radius: 20px;
}

/*RANKIG 3*/

.corpo-acao3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  min-height: 95vh;
  margin-top: -30%;

}

/*RANKIG 2*/

.corpo-acao4{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95.5%;
  min-height: 25vh;
  margin-top: -30%;

}

.corpo-acao5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  min-height: 100vh;
  margin-top: -30%;


}
}
