@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Libre+Baskerville & family= Open+Sans & family= Poppins:wght@500 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Teko:wght@300 & display=swap");

/* TAG DE ESTILO DA BARRA DO USUARIO JA LOGADO */
.barUser {
  display: flex;
  justify-content: left;
  align-items: center;
  border-color: #404040;
  border-style: groove;
  background: #121212;
  width: 100vw;
  height: 2rem;
  padding: 9px;
}

/* ========================================================================================= */


/* TAG PARA ESTILO DO NOME DO USUARIO */

.barName {
  background: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 7vw;
  height: 4rem;
  margin: 1%;
  margin-top: 1.3%;
}

#nameId {
  color: #aeaeae;
  font-size: 14px;
  font-family: "Teko", sans-serif, "Libre Baskerville", serif;
}

/* SÓ A NIVEL DE EXPERIENCIA */

#nameId {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  padding: 1.5em 0em;
  position: absolute;

  width: 40em;
  margin: 0 0 0 -20em;

  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */

  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* ================================================================================================== */

