/* FONTE PRINCIPAL   */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*=================================================================================== */

/* ABA DE USUARIO PARA ENTRAR OU CADASTRAR   */

.UserA{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    margin: 77%;
}

.UserA a img{
    margin: -30%;
}

.UserA a{
    display: flex;
    align-items: center;
}

.UserA p a{
    color: #cccccc;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif,arial;
    text-decoration: none;
}

/* RESPONSIVIDADE */

@media (min-width: 1600px){
    .UserA{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 40px;
        margin: 85%;
    }
}

@media (min-width: 360px) and (max-width: 450px){
    .UserA{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 40px;
        margin: 22%;
    }
}

@media (min-width: 760px) and (max-width: 820px){
    .UserA{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 40px;
        margin: 62%;
    }
}