/* FONTE PRINCIPAL   */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*=================================================================================== */


/* CONFIGURAÇÃO DO MENU DA BARRA DE NAVEGAÇÃO */
.menu_nave{
    margin-left: -2.3%;
}

.menu_nave ul{
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.menu_nave li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 11px;
    font-style: normal;
    line-height: 18px;
    color: #cccccc;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif,arial;
}



/*=================================================================================== */

/* RESPONSIVIDADE  */

@media (min-width: 1600px) and (max-width: 1700px){
    .menu_nave{
        margin-left: -2.3%;
    }
    
    .menu_nave ul{
        display: flex;
        justify-content: left;
        align-items: center;
        list-style: none;
    }
    
    .menu_nave li a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 11px;
        font-style: normal;
        line-height: 18px;
        color: #cccccc;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif,arial;
    }
}

@media (min-width: 360px) and (max-width: 450px){
    .menu_nave{
        margin-left: -10.3%;
    }
    
}

@media (min-width: 760px) and (max-width: 820px){
    .menu_nave{
        margin-left: -5.3%;
    }
}
